@model IEnumerable<DotNetEnglishP5_3.Models.Inventory>

@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>The Car Hub</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <main>
        <img src="/images/home/the_car_hub_logo.png" alt="logo">
        <section class="hero">
            <h2>Upgrade your ride without breaking the bank!</h2>
            <p>Welcome to The Car Hub, your local used car dealership. We offer a wide selection of quality pre-owned vehicles at affordable prices. Contact us today to schedule a test drive.</p>
        </section>
        <section class="featured-cars">
            <h2>Available Cars :</h2>
            <div class="car-list">
                @foreach (var item in Model)
                {
                    <div class="car-card" onclick="window.location='@Url.Action("Details")/@item.Id'">
                        <h3>
                            @if (item.Picture != null)
                            {
                                <img id="profilePicture" src="~/images/inventory/@item.Picture">
                            }
                            else
                            {
                                <img id="profilePicture" src="~/images/home/default_image_car.jpg">
                            }
                            @Html.DisplayFor(modelItem => item.Year)
                            @Html.DisplayFor(modelItem => item.Make)
                            @Html.DisplayFor(modelItem => item.Model)
                        </h3>
                        <p>$ @Html.DisplayFor(modelItem => item.PurchasePrice)</p>
                  
                    </div>
                }
            </div>
        </section>
    </main>


</body>
</html>